table {
  border-collapse: collapse;
}

table, th, td {
  border: solid 1px black;
  padding: .5em;
}

.var-label {
  background-color: azure;
}

.result-row {
  background-color: lightgray;
}

.success {
  color: green;
}

.failure {
  color: red;
}

.toggle-button {
  width: 25px;
}

.column-hidden {
  background-color: black;
}